@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
    font-family: QuattrocentoSans-Italic;
    src: url(../fonts/QuattrocentoSans-Italic.ttf);
}
@font-face {
    font-family: QuattrocentoSans-BoldItalic;
    src: url(../fonts/QuattrocentoSans-BoldItalic.ttf);
}
@font-face {
    font-family: QuattrocentoSans-Bold;
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);


iframe{
  border:0;
}

#logo{

}

/*twitter api*/
#twitter-box{
  border:3px solid #99badd;
  border-radius:5px;
}
.twit-img{
  float:left;
  margin-right:10px;
}
.twit-tweet{
  font-family:QuattrocentoSans-Regular;
}
.screen-name{
  margin-bottom:5px;
  font-family:Oswald;
}

/*instagram api*/
#insta-box{
	height:325px;
  margin-bottom:50px;
}
@media (max-width:700px){
  #insta-box{
  margin-bottom:30px;
}
}


/*page stuff*/
/*.lesson{
  margin-top:-20%;
}
@media (max-width:1000px){
  .lesson{
    margin-top:-50px;
  }
}*/
#lesson1{
  display:block;
}

body{
  font-family:QuattrocentoSans-Regular;
}

h1{
  font-family:QuattrocentoSans-Bold;
  text-align:center;
  vertical-align:text-bottom;
}
#hash-title{
  font-family:QuattrocentoSans-Bold;
  padding-right:50px;
  padding-left:15px;
  vertical-align:text-bottom;
}

.inline{
  display:inline;
}
.block{
  display:block;
}
.inline-block{
  display:inline-block;
}

.margins-top{
  margin-top:10%;
}

/*embed responsively*/

.embed-container { position: relative; padding-bottom: 56.25%; height: 500px; overflow: hidden; width:100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
